@page "Index/{id=1}"
@model DDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product.ProductName (Dev Express)</h2>

    <tr>
        <td>
            <div> Price @(Html.DevExtreme().TextBox().ID("price").Value($"${Model.product.UnitPrice}"))</div>
            <br />
            <div> Stock @(Html.DevExtreme().TextBox().ID("stoke").Value($"{Model.product.UnitInStock}"))</div>
            <br />
            <div> Discontinued @(Html.DevExtreme().CheckBox().ID("discontinued").Value(Model.product.Discontinued))</div>
            <br />
            <div> Country @(Html.DevExtreme().SelectBox().ID("country").DataSource(Model.countries).Value(Model.countries[(Model.product.ProductId % 10)]))</div>
            <br />
            <div> Date @(Html.DevExtreme().DateBox().ID("dateTime").Value(DateTime.Now))</div>
        </td>
    </tr>
    <div>
        <br />
        <a asp-page="DList">Back</a>

    </div>

