@page "{action=Index}/{id=1}"
@model DyDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product["1"] (Dev Express Dynamic Object)</h2>

    <tr>
        <td>
            @{
                foreach (dynamic control in Model.FormControlList)
                {
                    switch (control.ControlType.ToLower())
                    {
                        case "editbox":
                            <div>@control.Name @(Html.DevExtreme().TextBox().ID(control.ID).Value(Model.product[control.ID]))</div>
                            <br />
                            break;
                        case "checkbox":
                            <div>@control.Name @(Html.DevExtreme().CheckBox().ID(control.ID).Value(Model.product[control.ID].ToLower() == "true"))</div>
                            <br />
                            break;
                        case "combobox":
                            <div>@control.Name @(Html.DevExtreme().SelectBox().ID(control.ID).DataSource(Model.countries).Value(Model.countries[Int32.Parse(Model.product["1"]) % 10]))</div>
                            <br />
                            break;
                        case "date":
                                <div>@control.Name @(Html.DevExtreme().DateBox().ID(control.ID).Type(DateBoxType.DateTime).Value(DateTime.Now))</div>
                                <br />
                                break;
                        }

                    }
                }
        </td>
    </tr>
    <div>
        <br />
        <a asp-page="DyList">Back</a>

    </div>

