@page "Index/{id=1}"
@model KindoUIDemo.Pages.KDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.product.ProductName (Kindo)</h2>

    <tr>
        <td>
            <div> Price @(Html.Kendo().TextBox().Name("price").Value($"${Model.product.UnitPrice}"))</div>
            <br />
            <div> Stock @(Html.Kendo().TextBox().Name("stoke").Value($"{Model.product.UnitInStock}"))</div>
            <br />
            <div> Discontinued @(Html.Kendo().CheckBox().Name("discontinued").Checked(Model.product.Discontinued))</div>
            <br />
            <div> Country @(Html.Kendo().DropDownList().Name("country").BindTo(Model.countries).Value(Model.countries[(Model.product.ProductId % 10)]))</div>
            <br />
            <div> Date @(Html.Kendo().DateTimePicker().Name("dateTime").Value(DateTime.Now))</div>
        </td>
    </tr>
    <div>
        <br />
        <a asp-page="KList">Back</a>

    </div>

